 /* Default CSS */
 
 html {
     box-sizing: border-box;
 }
 
 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }
 /****************************************************/
 
 body {
     margin: 0;
 }
 /****************************************************/
 /* Header */
 
 header {
     background-color: #0B1C51;
     background-color: rgba(11, 28, 81, 0.8);
     margin-bottom: 40px;
 }
 
 .headerTagContainer {
     position: fixed;
     z-index: 99;
     width: 100%;
     top: 0px;
     padding-top: 5px;
     margin-bottom: 5px;
 }
 
 header .logo-title {
     font-family: 'Gochi Hand';
     font-size: 52px;
     color: #fff;
     text-align: center;
     margin: 0;
     padding-top: 20px;
 }
 
 .logo-title {
     margin: 20px;
     padding: 20px;
 }
 
 header nav {
     display: flex;
     justify-content: center;
 }
 
 header nav ul {
     display: flex;
     padding-left: 0;
     list-style: none;
 }
 
 header nav ul li a {
     font-family: Montserrat;
     color: #fff;
     text-decoration: none;
     margin: 0 20px 0 0;
 }
 
 #menu {
     font-size: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 #header {
     margin-top: 280px;
 }
 
 header nav ul li a:hover {
     color: #bdbdbd;
     color: #EB5352;
 }
 
 @media all and (min-width: 600px) {
     header {
         display: flex;
         justify-content: space-between;
         padding: 0 30px;
     }
     header h1 {
         font-size: 48px;
         margin: 14px 0;
         padding-top: 6px;
     }
     header nav {
         margin-top: 14px;
     }
     header nav ul li a:hover {
         color: #bdbdbd;
         color: #EB5352;
     }
     #menu {
         font-size: 24px;
         display: flex;
         flex-direction: row;
     }
     #header {
         margin-top: 120px;
     }
 }
 
 .formSubmitMessage {
     margin: 10px;
     padding: 10px;
 }
 /****************************************************/